@use "variables" as v;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 16px
}

body {
    font-size: 1.5rem;
    background-color: v.$color-light-greyish-cyan-1;
}
