@use "variables" as v;
@use "mixins" as m;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 16px

    @include m.respond(tab-port) {
        font-size: 70%;
    }

    @include m.respond(tab-land) {
        font-size: 75%;
    }
}

body {
    background-image: url("../../../design/desktop-design.jpg");
    background-repeat: no-repeat;
    background-size: 1440px;
    opacity: 30%;
}

.website-wrapper {
    overflow: hidden;
}
