@use "variables" as v;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 16px
}

body {
    background-image: url("../../../design/mobile-design.jpg");
    background-repeat: no-repeat;
    background-size: 375px;
    opacity: 30%;
}
