// headings
// parapgraphs

@use "variables" as v;

.heading--primary {
    text-transform: uppercase;
    font-family: v.$font-header;
    font-weight: 300;
    font-size: 3.2rem;
}

.paragraph {
    font-family: v.$font-paragraph;
    font-weight: 300;
    color: v.$color-light-gray;
    line-height: 2.5rem;
}
