// Colors:

$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-light-gray: hsl(0, 0%, 55%);
$color-dark-gray: hsl(0, 0%, 41%);

// Fonts:

$font-paragraph: "Alata", sans-serif;
$font-header: "Josefin Sans", sans-serif;
