@use "../variables" as v;

.s-footer {
    background-color: v.$color-black;
    color: v.$color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    margin-top: 7rem;

    &__logo {
        margin: 1rem 0;
        width: 15rem;
    }

    &__list {
        margin: 2rem 0;
        text-align: center;
        list-style: none;
    }

    &__item {
        margin: 2rem 0;
    }

    &__link {
        font-size: 1.8rem;
        color: v.$color-white;
        font-family: v.$font-header;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
            text-decoration: underline;
        }
    }

    &__socials {
        display: flex;
        gap: 1.5rem;
        list-style: none;
    }

    &__icon {
        width: 2.5rem;
    }

    &__copyrights {
        font-size: 1.2rem;
        color: v.$color-light-gray;
        font-family: v.$font-paragraph;
        margin-top: 2rem;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: v.$color-light-gray;
    margin-top: 1rem;
}
.attribution a {
    color: hsl(228, 78%, 73%);
    text-decoration: none;
}
