@use "../variables" as v;
@use "../mixins" as m;

.s-header {
    background-image: url("../../../assets/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 15rem;
    height: 100vh;

    @include m.respond(tab-port) {
        background-image: url("../../../assets/desktop/image-hero.jpg");
        background-position: center;
    }

    @include m.respond(tab-land) {
        padding: 3rem 12rem;
        height: 70vh;
        gap: 8rem;
    }

    @include m.respond(desktop) {
        height: 90vh;
    }

    &__logo {
        height: 2.5rem;

        @include m.respond(tab-port) {
            height: 4rem;
        }

        @include m.respond(tab-land) {
            height: 3rem;
        }
    }

    &__burger {
        margin-right: 2rem;
        cursor: pointer;
        @include m.respond(tab-port) {
            display: none;
        }
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        padding: 2rem 1rem;
        position: relative;

        @include m.respond(tab-port) {
            align-items: center;
            gap: 8rem;
        }
    }

    &__heading {
        color: v.$color-white;
        font-size: 4rem;
        margin: 0 1rem;
        padding: 2rem;
        border: 1px solid v.$color-white;
        max-width: 500px;

        @include m.respond(tab-port) {
            font-size: 8rem;
            margin-left: 7rem;
            max-width: 650px;
        }

        @include m.respond(tab-land) {
            padding: 3.5rem;
            font-size: 6rem;
            max-width: 650px;
            margin-left: 2rem;
        }
    }
}
