@use "../variables" as v;

.s-header {
    background-image: url("../../../assets/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 15rem;
    height: 100vh;

    &__logo {
        height: 2.5rem;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        padding: 2rem 1rem;
    }

    &__heading {
        color: v.$color-white;
        font-size: 4rem;
        margin: 0 1rem;
        padding: 2rem;
        border: 1px solid v.$color-white;
    }
}
