.s-about {
    margin-top: 7rem;
    padding: 0 2rem;

    &__img {
        width: 100%;
        height: auto;
    }

    &__content-wrapper {
        margin-top: 2rem;
        text-align: center;
    }

    &__heading {
        margin: 5rem 0 2rem 0;
        font-size: 3.2rem;
    }

    &__content {
        font-size: 1.6rem;
        margin: 0 1.5rem;
    }
}

.s-products {
    margin-top: 9rem;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading {
        text-align: center;
        margin: 5rem 0;
    }

    &__grid {
        margin: 0 2rem;
        display: grid;
        gap: 2rem;
    }

    &__button {
        margin: 2rem 0;
    }
}
