@use "../mixins" as m;

.s-about {
    margin-top: 21rem;
    padding: 0 2rem;

    &__img {
        width: 100%;
        height: auto;
    }

    &__content-wrapper {
        margin-top: 2rem;
        text-align: center;
    }

    &__heading {
        margin: 5rem 0 2rem 0;
        font-size: 3.2rem;

        @include m.respond(tab-port) {
            font-size: 5.5rem;
        }
    }

    &__content {
        font-size: 1.6rem;
        margin: 0 1.5rem;
    }
}

.s-products {
    margin-top: 5rem;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading {
        text-align: center;
        margin: 5rem 0;
        font-size: 3.2rem;

        @include m.respond(tab-port) {
            font-size: 5.5rem;
        }
    }

    &__grid {
        margin: 0 2rem;
        display: grid;
        gap: 2rem;
    }

    &__button {
        margin: 3rem 0;

        @include m.respond(tab-port) {
            margin: 8rem;
        }
    }
}
