@use "../mixins" as m;
@use "../variables" as v;

.s-about {
    margin-top: 21rem;
    padding: 0 2rem;

    @include m.respond(tab-land) {
        display: flex;
        position: relative;
        margin: 30rem 0rem 15rem 10rem;
        max-width: 1310px;
    }

    @include m.respond(desktop) {
        margin-left: 20rem;
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__content-wrapper {
        margin-top: 2rem;
        text-align: center;

        @include m.respond(tab-land) {
            position: absolute;
            background-color: v.$color-white;
            max-width: 600px;
            min-height: 350px;
            bottom: -30px;
            right: 110px;
            padding: 3rem 2.5rem;
        }
    }

    &__heading {
        margin: 5rem 0 2rem 0;
        font-size: 3.2rem;

        @include m.respond(tab-port) {
            font-size: 5.5rem;
        }

        @include m.respond(tab-land) {
            font-size: 3.5rem;
        }
    }

    &__content {
        font-size: 1.6rem;
        margin: 0 1.5rem;
        line-height: 2rem;

        @include m.respond(tab-port) {
            font-size: 3rem;
            line-height: 4rem;
        }

        @include m.respond(tab-land) {
            font-size: 1.5rem;
            line-height: 2rem;
            text-align: justify;
        }
    }
}

.s-products {
    margin-top: 5rem;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include m.respond(tab-land) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 10% 90%;
        grid-template-areas:
            "title button"
            "images images";
    }

    &__heading {
        text-align: center;
        margin: 5rem 0;
        font-size: 3.2rem;

        @include m.respond(tab-port) {
            font-size: 5.5rem;
        }

        @include m.respond(tab-land) {
            grid-area: title;
            font-size: 4rem;
            align-self: center;
        }
    }

    &__grid {
        margin: 0 2rem;
        display: grid;
        gap: 2rem;

        @include m.respond(tab-port) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, 1fr);
            padding: 0rem 11rem;
            gap: 3.5rem;
        }

        @include m.respond(tab-land) {
            grid-area: images;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            padding: 0rem 11rem;
            gap: 3.5rem;
        }
    }

    &__button {
        margin: 3rem 0;

        @include m.respond(tab-port) {
            margin: 8rem;
        }

        @include m.respond(tab-land) {
            grid-area: button;
            margin-left: 25rem;
            justify-self: center;
        }
    }
}
